body {
  font-family: Arial;
  margin: 0;
  background: #f4f4f4;
}

header {
  background: #ff9800;
  color: white;
  padding: 20px;
  text-align: center;
}

nav {
  background: #333;
  text-align: center;
}

nav a {
  color: white;
  padding: 14px;
  display: inline-block;
  text-decoration: none;
}

nav a:hover {
  background: #555;
}

main {
  padding: 20px;
}

.gallery img {
  width: 250px;
  margin: 10px;
  border-radius: 10px;
}

footer {
  text-align: center;
  padding: 10px;
  background: #ddd;
}
.center {
  text-align: center;
}

/* Meme ở trang Home */
.home-memes {
  display: flex;
  justify-content: center;   /* căn giữa ngang */
  gap: 20px;
  margin-top: 20px;
}

.home-memes img {
  width: 260px;
  height: 260px;
  object-fit: cover;      /* QUAN TRỌNG: cắt ảnh cho đều */
  object-position: center;
  border-radius: 12px;
}

/* Meme gallery */
.meme-gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, 240px);
  justify-content: center;   /* căn giữa toàn bộ grid */
  gap: 20px;
}
.meme-gallery img {
  width: 240px;
  height: 240px;
  object-fit: cover;        /* cắt ảnh cho đều */
  object-position: center;
  border-radius: 12px;
  display: block;
  background-color: #eee;
}

.meme-gallery img:hover {
  transform: scale(1.06);
  transition: 0.3s;
  cursor: pointer;
}
