body {
  font-family: Arial;
  margin: 0;
  background: #f4f4f4;
}

header {
  background: #ff9800;
  color: white;
  padding: 20px;
  text-align: center;
}

nav {
  background: #333;
  text-align: center;
}

nav a {
  color: white;
  padding: 14px;
  display: inline-block;
  text-decoration: none;
}

nav a:hover {
  background: #555;
}

main {
  padding: 20px;
}

.home-memes {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
  flex-wrap: wrap;   /* bắt buộc */
}

.home-memes img {
  width: 260px;
  height: 260px;
  object-fit: cover;
  object-position: center;
  border-radius: 12px;
}
